<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
    <select multiple="true">
        <optgroup label="products">
            <option>p1</option>
            <option>p1</option>
            <option>p1</option>
            <option>p1</option>
        </optgroup>
    </select>


</>
    <select name="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select>
</form>
</body>
</html>